<!-- ===== All Components ========== -->

<!-- Login Macro -->
{% macro login() %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="899507997415-tjcpcms9kffpubcev5r3ka61omepnr58.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script>
    var email;
    var name;

    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('Name: ' + profile.getName());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        name = profile.getName()
        email = profile.getEmail()

        var form = document.createElement('FORM')
        form.setAttribute("method", "POST")

        var name_input = document.createElement("INPUT")
        name_input.setAttribute('name', name)

        var email_input = document.createElement("INPUT")
        email_input.setAttribute('name', email)

        console.log(email_input, name_input, form)

        form.submit()

        console.log("submitted")

    }


    

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
        console.log('User signed out.');
        });
    }

</script>

{{ caller() }}
{% endmacro %}